*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #ffd0ec;
  --primary-600: #ff99d6;
  --grey: #f1f5f9;
  --grey-800: #1f2937;
  --white: #f8fafc;

  --view-width: 90vw;
  --max-width: 1120px;
}

body {
  background: var(--grey);
}

a {
  text-decoration: none;
}

/* Hero */

.hero {
  min-height: 40vh;
  background: var(--white);
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-center {
  width: var(--view-width);
  max-width: var(--max-width);
}

.hero-info h1 {
  font-size: 4rem;
  font-weight: 700;
}

.hero-info h1 .color {
  color: var(--primary-600);
}

.hero-info p {
  max-width: 65ch;
  line-height: 1.5;
}

.hero-img {
  display: none;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (min-width: 992px) {
  .hero-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 1rem;
  }

  .hero-img {
    display: block;
  }
}

/* Projects */

.projects {
  padding: 5rem 0;
  text-align: center;
}

.projects .title {
  text-align: center;
  font-size: 2rem;
}

.projects-center {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
}

.project {
  background: var(--white);
  display: block;
  border-radius: 5px;
  transition: all .3s ease;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.project:hover {
  transform: scale(1.05);
}

.project .img {
  height: 15rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 1.25rem;
}

.project h5 {
  text-align: center;
  padding: 1rem 0;
  color: var(--grey-800);
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .projects-center {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .projects-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}